body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',More actions
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.newsApp{
  background-image: url('./assets/back.jpg');
  background-size: cover;
  padding-bottom: 10px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(4, 6, 18);
  padding: 19px 26px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  backdrop-filter: blur(4px);
  border-bottom: 0.005px solid rgb(2, 8, 72);
}
.nav-option{
  gap:19px;
}
.nav-option button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 11px;
}
.logo img{
  height: 50px;
}
nav input{
  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
  height: 20px;
}
.searchBar{
  display: flex;
  align-items: center;
}
.searchBar button{
  width: 90px;
  height: 38px;
  background-color: #04438b;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  
}
.searchBar button:hover{
  background-color: #006eed;
  transition: all 0.3s ease-in-out;
}
nav ul{
  display: flex;
  gap: 11px;

}
.cardContainer{
  display: flex;
  justify-content: center;
  gap:41px;
  flex-wrap: wrap;

}

.card{
  width: 320px;
  color: white;
  box-shadow: 2px 4px 4px 2px rgb(33, 32, 32);
  background-color: transparent;
  border-radius: 3px;
  margin-top: 21px;
}
.card:hover{
  box-shadow: 0px 4px 4px 4px #006eed;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}
.card img{
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}
.card .title{
  font-weight: 600;
  font-size: 18px;
  margin-top: -7px;
}
.title-div{
  height: 85px;
  display: flex;
  align-items: center;
}
.title:hover{
  cursor: pointer;
  text-decoration:underline ;
}
.card .content{
  padding: 9px;
}
.description{
  font-size: 15px;
  margin-bottom: 9px;
  height: 100px;
  margin-top: 0px;
}
.card button{
  background-color: #04438b;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 38px;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  font-size: 15px;
}
.card button:hover{
  background-color: #006eed;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}
.categoryBtn{
  display: flex;
  justify-content: center;
  gap: 18px;
}
.categoryBtn button{
  gap: 11px;
  width: 160px;
  height: 38px;
  background-color: #04438b;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  padding: 2px;
}
.categoryBtn button:hover{
  background-color: #006eed;
  transition: all 0.3s ease-in-out;
  transform: scale(1.02);
}


.head{
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  color: white;
}
.content-button{
  display: flex;
  justify-content: center;
}